:8083

reverse_proxy localhost:8082 {
    header_up x-operator-signature "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJmdW5jdGlvbl9ob29rcyI6eyJsb2dpbiI6Imh0dHBzOi8vdHJ1c3QuZnJlZS5iZWVjZXB0b3IuY29tIiwic2lnbnVwIjoiaHR0cHM6Ly90cnVzdC5mcmVlLmJlZWNlcHRvci5jb20ifSwicmVkaXJlY3RfdXJsIjoiaHR0cHM6Ly9oYWh1am9icy5uZXQvbG9naW4iLCJzaXRlX3VybCI6Imh0dHBzOi8vaGFodWpvYnMubmV0In0.Qebws3yNPHSRCUwNckE9Ebcjy1mOfmlEuMe2_hA5054"
}