:8083

reverse_proxy localhost:8082 {
    header_up x-operator-signature "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJmdW5jdGlvbl9ob29rcyI6eyJsb2dpbiI6Imh0dHBzOi8vdHJ1c3QuZnJlZS5iZWVjZXB0b3IuY29tIiwic2lnbnVwIjoiaHR0cHM6Ly90cnVzdC5mcmVlLmJlZWNlcHRvci5jb20ifSwic2l0ZV91cmwiOiJodHRwOi8vbG9jYWxob3N0OjkwMDAiLCJyZWRpcmVjdF91cmwiOiJodHRwOi8vbG9jYWxob3N0OjkwMDAvbG9naW4ifQ.h2TGqn-G3wcvcyKt4tSW0Q1SWPm0N56ereBUNr0Y7b0"
}